@font-face {
    font-family: "Familiada";
    src: url("assets/Familiada.woff2") format("woff2"), url("assets/Familiada.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

html {
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
}

html,
body {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100%;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;

    .screen {
        width: 681px;
        height: 361px;

        background-image: url("assets/familiada-clear.png");
        background-size: cover;
        background-repeat: no-repeat;

        position: relative;

        .board-answers {
            position: relative;
            width: fit-content;
            top: 73px;
            left: 96px;
            display: inline;
            .board-response-row {
                height: 37px;
                .number,
                .answer,
                .points {
                    font-family: Familiada;
                    color: rgb(175, 218, 112);
                    display: inline;
                    font-size: 25px;
                }
                .number {
                }
                .answer {
                }
                .points {
                    margin-left: 55px;
                }
            }
        }

        .wrong-answers-col {
            width: 66px;

            position: absolute;
            right: 21px;
            top: 23px;

            .wrong-answer {
                margin-top: 18px;
                aspect-ratio: 64 / 90;
            }
        }
    }
}
